extends layout

block content
  h1= title
  p To create a new pet go to localhost:3000/crear
  p To display all pets go to localhost:3000/mascotas/
  p To display a specific pet go to localhost:3000/mascotas/id
